APP_NAME=Shopify FactuSOL Connector
ENVIRONMENT=local

SHOPIFY_CLIENT_ID=change me
SHOPIFY_API_SECRET=change me
SHOPIFY_ACCESS_TOKEN=change me
SHOPIFY_SHOP_DOMAIN=b2b-seind-jpj-2.myshopify.com
SHOPIFY_API_VERSION=2026-04